@import "components/header";
@import "components/hero";
@import "components/features";
@import "components/aside";
@import "components/team";
@import "components/clients";
@import "components/footer";
:root {
  --main-title-color: #ffffff;
  --second-title-color: #212121;
  --first-text-color: #757575;
  --second-text-color: rgba(255, 255, 255, 0.6);
  --first-button-color: #2196f3;
}
body {
  font-family: Roboto, sans-serif;
  background-color: var(--main-title-color);
  color: var(--second-title-color);
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 auto;
}

ul {
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}

/*--------------HEADER----------*/

/*----------------HERO--------------*/

.text-list li {
  width: 270px;
}

/*--------------TEAM-------------*/

.portfolio-link {
  cursor: pointer;
  transition-property: box-shadow, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link img {
  max-width: 370px;
  width: 100%;
  display: block;
}
.portfolio-item {
  margin: 15px;
  width: calc(33% - 26px);
  position: relative;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}
.portfolio-content {
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  padding: 24px 20px 24px;
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-link {
  display: block;
}
.portfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
/*---------------FOOTER----------*/

.footer-wrap {
  display: flex;
  align-items: baseline;
}

.social-footer-link:hover,
.social-footer-link:focus {
  background: var(--first-button-color);
}

.footer-form-button {
  margin-left: 12px;
  width: 200px;
  height: 50px;
  color: #ececec;
}

/*---------------PORTFOLIO--------*/
.list-btn {
  cursor: pointer;
  border: 0;
  background: #f5f4fa;
  border-radius: 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
  padding: 6px 22px 6px 22px;
  transition-property: color, box-shadow, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.list-btn:hover,
.list-btn:focus {
  color: var(--main-title-color);
  background: var(--first-button-color);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.active {
  background: var(--first-button-color);
  color: var(--main-title-color);
}
.portfolio-item-wrap {
  position: relative;
  overflow: hidden;
}
.portfolio-item-text {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  background: rgba(33, 150, 243, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  padding: 63px 24px 63px 24px;
  transform: translateY(100%);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-link:hover .portfolio-item-text,
.portfolio-link:focus .portfolio-item-text {
  transform: translateY(0);
}
.portfolio-link:focus .portfolio-item-text {
  transform: translateY(0);
}

.portfolio-link:focus .portfolio-item-text {
  transform: translateY(0);
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--second-title-color);
  margin-bottom: 4px;
}
.portfolio-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
}
.profile-list li {
  margin-right: 8px;
}
.profile-list li:last-child {
  margin: 0;
}
.profile-list {
  display: flex;
  justify-content: center;
  list-style: none;
  margin-bottom: 50px;
}

.section-list {
  padding: 94px 0;
}
.backdrop {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  transition: opacity 250ms, visibility 250ms;
}
.backdrop.is-hidden .modal {
  transform: scale(1.5);
}
.modal {
  width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(1) translate(-50%, -50%);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.icon-close {
  width: 18px;
  height: 18px;
}
.modal-close {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  position: absolute;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
}
.modal {
  padding: 40px;
}
.modal-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}
.modal-form-field {
  margin-bottom: 10px;
}
.modal-form-field:nth-child(4) {
  margin-bottom: 20px;
}
.modal-form-field.mb-0 {
  margin-bottom: 0;
}
.input-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input-wrap {
  position: relative;
}
.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  padding-left: 42px;
  cursor: pointer;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-text {
  display: block;
  width: 100%;
  height: 120px;
  left: 576px;
  top: 518px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 16px 12px 16px;
  resize: none;
  outline: none;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input-text {
  display: block;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}
.modal-text::placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-btn {
  width: 200px;
  height: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background: #2196f3;
  color: #ffffff;
  border-radius: 4px;
  border: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  transition-property: background, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover,
.modal-btn:focus {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.modal-check-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 30px;
  cursor: pointer;
}
.modal-check-text span {
  width: 16px;
  height: 15px;
  border: 2px solid #000000;
  margin-right: 5px;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-check:focus + .modal-check-text span,
.modal-check:hover + .modal-check-text span {
  border-color: var(--first-button-color);
}
.modal-check:checked + .modal-check-text .border-check {
  background-color: var(--first-button-color);
  border: none;
}
.modal-check:checked + .modal-check-text span {
  background-color: var(--first-button-color);
  border: none;
}
.icon-check {
  width: 16px;
  height: 15px;
  fill: var(--main-title-color);
  cursor: pointer;
}

.modal-policy-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: var(--first-button-color);
  margin-left: 5px;
  text-decoration-skip-ink: none;
}
.modal-close:hover,
.modal-close:focus {
  color: #2196f3;
}
.icon-close {
  fill: currentColor;
}
.modal-input:hover,
.modal-input:focus {
  border: 1px solid var(--first-button-color);
}
.modal-input:hover + .input-icon,
.modal-input:focus + .input-icon {
  fill: var(--first-button-color);
}
textarea:hover,
textarea:focus {
  border: 1px solid #2196f3;
  outline: 0;
}
