@import "utils/reset";
@import "utils/vars";
@import "components/header";
@import "components/hero";
@import "components/features";
@import "components/aside";
@import "components/team";
@import "components/clients";
@import "components/footer";
@import "components/modalka";
@import "components/portfolio";

body {
  font-family: Roboto, sans-serif;
  background-color: var(--main-title-color);
  color: var(--second-title-color);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/*--------------HEADER----------*/

/*----------------HERO--------------*/

/*--------------TEAM-------------*/

/*---------------FOOTER----------*/

/*---------------PORTFOLIO--------*/

.list-btn:hover,
.list-btn:focus {
  color: var(--main-title-color);
  background: var(--first-button-color);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.active {
  background: var(--first-button-color);
  color: var(--main-title-color);
}

.backdrop.is-hidden .modal {
  transform: scale(1.5);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  position: absolute;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
}

.modal-check:focus + .modal-check-text span,
.modal-check:hover + .modal-check-text span {
  border-color: var(--first-button-color);
}
.modal-check:checked + .modal-check-text .border-check {
  background-color: var(--first-button-color);
  border: none;
}
.modal-check:checked + .modal-check-text span {
  background-color: var(--first-button-color);
  border: none;
}

.modal-input:hover + .input-icon,
.modal-input:focus + .input-icon {
  fill: var(--first-button-color);
}
textarea:hover,
textarea:focus {
  border: 1px solid #2196f3;
  outline: 0;
}
